<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dan.learn.lab2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.BinderActivity"></activity>
        <activity android:name=".ui.activity.ViewDemoActivity" />
        <activity android:name=".ui.activity.DrawFuncViewActivity" />
        <activity
            android:name=".ui.activity.XfermodeViewActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.activity.CanvasActivity" />

        <receiver android:name=".widget.MiniToDoWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mini_to_do_widget_info" />
        </receiver>

        <activity android:name=".ui.activity.AppCustomThemeActivity" />
        <activity android:name=".ui.base.BaseMultiFragmentActivity" />
        <activity android:name=".ui.activity.ViewPathActivity" />
        <activity android:name=".ui.activity.AnnotationActivity" />
        <activity android:name=".ui.activity.ViewKnowledgeActivity" />
        <activity android:name=".ui.activity.CamerasActivity" />
        <activity android:name=".ui.activity.AccessibilityServiceLabActivity" />
        <activity android:name=".ui.activity.UnitTestActivity" />
        <activity android:name=".ui.activity.ThreadActivity" />
        <activity android:name=".ui.activity.CustomWidgetsActivity" />
        <activity
            android:name=".ui.activity.DragViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.base.BaseActivity" />
        <activity android:name=".ui.activity.RxJavaBasicActivity" />
        <activity android:name=".ui.activity.ListViewActivity" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.DemoAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/mm_accessibility_service" />

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>
    </application>

</manifest>